/****************************************/
/*			THEME BASIC STYLES			*/
/****************************************/
html, body { height: auto; }

section {
	width: 100%;
	display: block;
}

a {
	width: 100%;
	height: 100%;
	display: block;
}

a, a:hover, a:focus { color: inherit; text-decoration: none; }

.swiper-pagination-bullet {
	width: 6px;
    height: 6px;

	background: #bababa;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #f4b941;
}

.vCenter {
	width: 100%;
	height: auto;

	position: relative;

	top: 50%;

	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}










/************************************/
/*			THEME HEADER			*/
/************************************/
header.navigation {
	width: 100%;
	height: auto;
	position: relative;

	padding: 20px 0;

	z-index: 3;
	overflow: hidden;
	background-color: #fff;
}
	
	.logo img {  width: 100%; }

	.navbar-resp.open { display: block; }
	
	nav { width: auto; float: right; }
		nav ul { float: left; margin: 0; }
			nav ul li { width: auto; float: left; position: relative; }

			nav ul li a {
				padding: 13px 10px;

				text-align: center;
				text-transform: uppercase;

				color: #4c4c4c;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				line-height: normal;
				letter-spacing: 1.5px;
				font-weight: 400;

				-webkit-transition: all 0.2s ease-in-out;
				   -moz-transition: all 0.2s ease-in-out;
				     -o-transition: all 0.2s ease-in-out;
				        transition: all 0.2s ease-in-out;
			}

			nav ul li.icons a {
				float: left;
				width: auto;
			}
				nav ul li.icons a img {
					height: 13px;
				}

					nav ul li.active a { color: #06b3bd; font-weight: 600; }
					nav ul li.active a:hover, nav ul li a:hover { color: #06b3bd; }










/************************************/
/*			THEME FOOTER			*/
/************************************/
footer {
	width: 100%;
	position: relative;

	background-color: #000;
}

	footer ul {
		width: auto;
		float: left;
		margin: 0;
	}

		footer ul li {
			width: auto;
			float: left;
		}

			footer ul li a {
				padding: 44.5px 15px;

				text-align: center;
				text-transform: uppercase;

				color: #fff;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 11px;
				line-height: 11px;
				letter-spacing: 1.3px;
				font-weight: 400;

				-webkit-transition: all 0.2s ease-in-out;
				   -moz-transition: all 0.2s ease-in-out;
				     -o-transition: all 0.2s ease-in-out;
				        transition: all 0.2s ease-in-out;
			}

			footer ul li:first-child a { padding-left: 0px; }
				footer ul li a:hover { color: #fff; }

	footer p {
		width: auto;
		margin: 0;

		padding: 44.5px 0;

		text-align: right;
		text-transform: uppercase;

		color: #fff;

		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
		line-height: 11px;
		letter-spacing: 1.3px;
		font-weight: 400;
	}
